asgiref==3.3.4
bidict==0.21.2
blinker==1.4
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==4.7.2
crypto==1.4.1
cryptography==3.2.1
dataclasses==0.8
Flask==1.1.2
Flask-SocketIO==4.3.1
frida==14.2.8
frida-tools==9.1.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kaitaistruct==0.9
ldap3==2.8.1
MarkupSafe==1.1.1
mitmproxy==5.3.0
msgpack==1.0.2
Naked==0.1.31
passlib==1.7.4
prompt-toolkit==3.0.14
protobuf==3.13.0
publicsuffix2==2.20191221
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.10.1
pydivert==2.1.0
Pygments==2.7.4
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
python-engineio==3.13.2
python-socketio==4.3.1
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
shellescape==3.8.1
six==1.15.0
sortedcontainers==2.2.2
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.2
urwid==2.1.2
wcwidth==0.2.5
Werkzeug==1.0.1
wsproto==0.15.0
zstandard==0.14.1
